<div class="container mx-10 my-10">
  <h1 class="text-center text-3xl font-bold mb-8">Product Info</h1>

  <form
    (ngSubmit)="submit()"
    class="space-y-5 border-2 border-gray-600 rounded-lg p-8"
  >
    <div class="flex items-center">
      <label
        for="title"
        class="bg-blue-400 h-7 w-48 flex items-center justify-center rounded-tl-lg rounded-bl-lg text-white"
        >Title</label
      >
      <input
        type="text"
        id="title"
        [(ngModel)]="post.title"
        class="form-input w-full ml-3 rounded-tr-lg rounded-br-lg"
      />
    </div>
    <!-- Additional form controls for editing -->
    <div class="flex items-center">
      <label
        for="description"
        class="bg-blue-400 h-7 w-48 flex items-center justify-center rounded-tl-lg rounded-bl-lg text-white"
        >Description</label
      >
      <input
        type="text"
        id="description"
        [(ngModel)]="post.description"
        class="form-input w-full ml-3 rounded-tr-lg rounded-br-lg"
      />
    </div>
    <div class="flex items-center">
      <label
        for="price"
        class="bg-blue-400 h-7 w-48 flex items-center justify-center rounded-tl-lg rounded-bl-lg text-white"
        >Price</label
      >
      <input
        type="number"
        id="price"
        [(ngModel)]="post.price"
        class="form-input w-full ml-3 rounded-tr-lg rounded-br-lg"
      />
    </div>
    <div class="flex items-center">
      <label
        for="stock"
        class="bg-blue-400 h-7 w-48 flex items-center justify-center rounded-tl-lg rounded-bl-lg text-white"
        >Stock</label
      >
      <input
        type="number"
        id="stock"
        [(ngModel)]="post.stock"
        class="form-input w-full ml-3 rounded-tr-lg rounded-br-lg"
      />
    </div>
    <div class="flex items-center">
      <label
        for="brand"
        class="bg-blue-400 h-7 w-48 flex items-center justify-center rounded-tl-lg rounded-bl-lg text-white"
        >Brand</label
      >
      <input
        type="text"
        id="brand"
        [(ngModel)]="post.brand"
        class="form-input w-full ml-3 rounded-tr-lg rounded-br-lg"
      />
    </div>
    <div class="flex items-center">
      <label
        for="category"
        class="bg-blue-400 h-7 w-48 flex items-center justify-center rounded-tl-lg rounded-bl-lg text-white"
        >Category</label
      >
      <input
        type="text"
        id="category"
        [(ngModel)]="post.category"
        class="form-input w-full ml-3 rounded-tr-lg rounded-br-lg"
      />
    </div>
    <div class="flex items-center">
      <label
        for="thumbnail"
        class="bg-blue-400 h-7 w-48 flex items-center justify-center rounded-tl-lg rounded-bl-lg text-white"
        >Thumbnail</label
      >
      <input
        type="text"
        id="thumbnail"
        [(ngModel)]="post.thumbnail"
        class="form-input w-full ml-3 rounded-tr-lg rounded-br-lg"
      />
    </div>
    <div class="flex items-center">
      <label
        for="images"
        class="bg-blue-400 h-7 w-48 flex items-center justify-center rounded-tl-lg rounded-bl-lg text-white"
        >Images</label
      >
      <input
        type="text"
        id="images"
        [(ngModel)]="post.images"
        class="form-input w-full ml-3 rounded-tr-lg rounded-br-lg"
      />
    </div>
    <div class="flex items-center">
      <label
        for="discountPercentage"
        class="bg-blue-400 h-7 w-48 flex items-center justify-center rounded-tl-lg rounded-bl-lg text-white"
        >Discount Percentage</label
      >
      <input
        type="number"
        id="discountPercentage"
        [(ngModel)]="post.discountPercentage"
        class="form-input w-full ml-3 rounded-tr-lg rounded-br-lg"
      />
    </div>
    <div class="flex items-center">
      <label
        for="rating"
        class="bg-blue-400 h-7 w-48 flex items-center justify-center rounded-tl-lg rounded-bl-lg text-white"
        >Rating</label
      >
      <input
        type="number"
        id="rating"
        [(ngModel)]="post.rating"
        class="form-input w-full ml-3 rounded-tr-lg rounded-br-lg"
      />
    </div>
    <div class="flex justify-around mt-4">
      <div
        id="deleteModal"
        tabindex="-1"
        aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
      >
        <div class="relative p-4 w-full max-w-md h-full md:h-auto">
          <!-- Modal content -->
          <div
            class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
          >
            <button
              type="button"
              class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-toggle="deleteModal"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
            <svg
              class="text-gray-400 dark:text-gray-500 w-11 h-11 mb-3.5 mx-auto"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <p class="mb-4 text-gray-500 dark:text-gray-300">
              Are you sure you want to delete this item?
            </p>
          </div>
        </div>
      </div>
      <button
        class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-700"
        type="submit"
        [disabled]="!form.valid"
      >
        Update post
      </button>

      <a
        href="#"
        routerLinkActive="/post/index"
        class="bg-[#6B7280] text-white px-4 py-2 rounded-lg"
        >Back</a
      >
    </div>
  </form>
</div>
